.book-img {
  width: 200px;
  height: 275px;
}

.book-title {
  font-size: 20px;
  font-weight: bold;
}

.book-col {
  padding-bottom: 30px;
}

.book-author {
  margin-bottom: 5px;
  color: grey;
}

.search-back {
  font-weight: bold;
  font-size: 25px;
}

.row-margin-below {
  margin-bottom: 20px;
}

.seperation-line {
  border-style: solid none none none;
  border-color: black;
  margin: 65px 0;
}